<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dasi.infrastructure.persistent.dao.IRuleTreeDao">

    <resultMap id="dataMap" type="com.dasi.infrastructure.persistent.po.RuleTree">
        <id     property="id"            column="id"/>
        <result property="treeId"        column="tree_id"/>
        <result property="treeName"      column="tree_name"/>
        <result property="treeDesc"      column="tree_desc"/>
        <result property="treeRoot"      column="tree_root"/>
        <result property="createTime"    column="create_time"/>
        <result property="updateTime"    column="update_time"/>
    </resultMap>

    <select id="queryRuleTreeByTreeId" parameterType="java.lang.String" resultMap="dataMap">
        select tree_id, tree_root
        from rule_tree
        where tree_id = #{treeId}
    </select>


</mapper>