<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dasi.infrastructure.persistent.dao.IRechargeOrderDao">

    <resultMap id="dataMap" type="com.dasi.infrastructure.persistent.po.RechargeOrder">
        <id     property="id"                   column="id"/>
        <result property="orderId"              column="order_id"/>
        <result property="bizId"                column="biz_id"/>
        <result property="userId"               column="user_id"/>
        <result property="activityId"           column="activity_id"/>
        <result property="skuId"                column="sku_id"/>
        <result property="count"                column="count"/>
        <result property="rechargeState"        column="recharge_state"/>
        <result property="rechargeTime"         column="recharge_time"/>
        <result property="createTime"           column="create_time"/>
        <result property="updateTime"           column="update_time"/>
    </resultMap>

    <insert id="saveRechargeOrder" parameterType="com.dasi.infrastructure.persistent.po.RechargeOrder">
        INSERT INTO recharge_order (order_id, biz_id, activity_id, user_id, sku_id, count, recharge_state, recharge_time)
        VALUES (#{orderId}, #{bizId}, #{activityId}, #{userId}, #{skuId}, #{count}, #{rechargeState}, #{rechargeTime})
    </insert>

    <update id="updateRechargeState" parameterType="com.dasi.infrastructure.persistent.po.RechargeOrder">
        UPDATE recharge_order
        SET recharge_state = #{rechargeState}
        WHERE order_id = #{orderId} AND user_id = #{userId} AND biz_id = #{bizId}
    </update>

</mapper>