<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dasi.infrastructure.persistent.dao.IRuleEdgeDao">

    <resultMap id="dataMap" type="com.dasi.infrastructure.persistent.po.RuleEdge">
        <id     property="id"              column="id"/>
        <result property="treeId"          column="tree_id"/>
        <result property="ruleNodeFrom"    column="rule_node_from"/>
        <result property="ruleNodeTo"      column="rule_node_to"/>
        <result property="ruleCheckType"   column="rule_check_type"/>
        <result property="ruleCheckResult" column="rule_check_result"/>
        <result property="createTime"      column="create_time"/>
        <result property="updateTime"      column="update_time"/>
    </resultMap>

    <select id="queryRuleEdgeListByTreeId" parameterType="java.lang.String" resultMap="dataMap">
        select tree_id, rule_node_from, rule_node_to, rule_check_type, rule_check_result
        from rule_edge
        where tree_id = #{treeId}
    </select>


</mapper>