<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dasi.infrastructure.persistent.dao.IActivityOrderDao">

    <resultMap id="dataMap" type="com.dasi.infrastructure.persistent.po.ActivityOrder">
        <id     property="id"           column="id"/>
        <result property="orderId"      column="order_id"/>
        <result property="userId"       column="user_id"/>
        <result property="sku"          column="sku"/>
        <result property="strategyId"   column="strategy_id"/>
        <result property="activityId"   column="activity_id"/>
        <result property="activityName" column="activity_name"/>
        <result property="totalCount"   column="total_count"/>
        <result property="monthCount"   column="month_count"/>
        <result property="dayCount"     column="day_count"/>
        <result property="state"        column="state"/>
        <result property="orderTime"    column="order_time"/>
        <result property="createTime"   column="create_time"/>
        <result property="updateTime"   column="update_time"/>
    </resultMap>

    <insert id="insert" parameterType="com.dasi.infrastructure.persistent.po.ActivityOrder">
        INSERT INTO activity_order (order_id, user_id, sku, strategy_id, activity_id, activity_name, total_count, month_count, day_count, state, order_time)
        VALUES (#{orderId}, #{userId}, #{sku}, #{strategyId}, #{activityId}, #{activityName}, #{totalCount}, #{monthCount}, #{dayCount}, #{state}, #{orderTime});
    </insert>

    <select id="queryActivityOrderListByUserId" parameterType="java.lang.String" resultMap="dataMap">
        SELECT order_id, user_id, sku, strategy_id, activity_id, activity_name, total_count, month_count, day_count, state, order_time
        FROM activity_order
        WHERE user_id = #{userId};
    </select>

</mapper>