<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dasi.infrastructure.persistent.dao.IActivityAccountDao">

    <resultMap id="dataMap" type="com.dasi.infrastructure.persistent.po.ActivityAccount">
        <id     property="id"                   column="id"/>
        <result property="userId"               column="user_id"/>
        <result property="activityId"           column="activity_id"/>
        <result property="totalAllocate"        column="total_allocate"/>
        <result property="totalSurplus"         column="total_surplus"/>
        <result property="dayAllocate"          column="day_allocate"/>
        <result property="daySurplus"           column="day_surplus"/>
        <result property="monthAllocate"        column="month_allocate"/>
        <result property="monthSurplus"         column="month_surplus"/>
        <result property="createTime"           column="create_time"/>
        <result property="updateTime"           column="update_time"/>
    </resultMap>

    <insert id="insertActivityAccount" parameterType="com.dasi.infrastructure.persistent.po.ActivityAccount">
        INSERT INTO activity_account (user_id, activity_id, total_allocate, total_surplus, day_allocate, day_surplus, month_allocate, month_surplus)
        VALUES (#{userId}, #{activityId}, #{totalAllocate}, #{totalSurplus}, #{dayAllocate}, #{daySurplus}, #{monthAllocate}, #{monthSurplus});
    </insert>

    <update id="updateAccountQuota" parameterType="com.dasi.infrastructure.persistent.po.ActivityAccount">
        UPDATE activity_account
        SET total_allocate = total_allocate + #{totalAllocate},
            total_surplus = total_surplus + #{totalSurplus},
            day_allocate = day_allocate + #{dayAllocate},
            day_surplus = day_surplus + #{daySurplus},
            month_allocate = month_allocate + #{monthAllocate},
            month_surplus = month_surplus + #{monthSurplus}
        WHERE user_id = #{userId} AND activity_id = #{activityId};
    </update>

</mapper>