<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dasi.infrastructure.persistent.dao.IActivityMonthDao">

    <resultMap id="dataMap" type="com.dasi.infrastructure.persistent.po.ActivityMonth">
        <id     property="id"            column="id"/>
        <result property="activityId"    column="activity_id"/>
        <result property="userId"        column="user_id"/>
        <result property="month"         column="month"/>
        <result property="monthAllocate" column="month_allocate"/>
        <result property="monthSurplus"  column="month_surplus"/>
        <result property="createTime"    column="create_time"/>
        <result property="updateTime"    column="update_time"/>
    </resultMap>

</mapper>