<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dasi.infrastructure.persistent.dao.IActivityAccountMonthDao">

    <resultMap id="dataMap" type="com.dasi.infrastructure.persistent.po.ActivityAccountMonth">
        <id     property="id"            column="id"/>
        <result property="activityId"    column="activity_id"/>
        <result property="userId"        column="user_id"/>
        <result property="monthKey"      column="month_key"/>
        <result property="monthAllocate" column="month_allocate"/>
        <result property="monthSurplus"  column="month_surplus"/>
        <result property="createTime"    column="create_time"/>
        <result property="updateTime"    column="update_time"/>
    </resultMap>

    <insert id="createActivityAccountMonth" parameterType="com.dasi.infrastructure.persistent.po.ActivityAccountMonth">
        INSERT INTO activity_account_month (activity_id, user_id, month_key, month_allocate, month_surplus)
        VALUES (#{activityId}, #{userId}, #{monthKey}, #{monthAllocate}, #{monthSurplus})
    </insert>

    <update id="subtractActivityAccountMonth" parameterType="com.dasi.infrastructure.persistent.po.ActivityAccountMonth">
        UPDATE activity_account_month
        SET month_surplus = month_surplus - 1
        WHERE user_id = #{userId} AND activity_id = #{activityId} AND month_key = #{monthKey}
    </update>

    <update id="rechargeActivityAccountMonth" parameterType="com.dasi.infrastructure.persistent.po.ActivityAccountMonth">
        UPDATE activity_account_month
        SET month_allocate = month_allocate + #{monthAllocate},
            month_surplus = month_surplus + #{monthSurplus}
        WHERE user_id = #{userId} AND activity_id = #{activityId} and month_key = #{monthKey}
    </update>

    <select id="queryActivityAccountMonth" parameterType="com.dasi.infrastructure.persistent.po.ActivityAccountMonth" resultMap="dataMap">
        SELECT user_id, activity_id, month_key, month_allocate, month_surplus
        FROM activity_account_month
        WHERE user_id = #{userId} AND activity_id = #{activityId} AND month_key = #{monthKey}
    </select>

</mapper>