<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dasi.infrastructure.persistent.dao.IActivityAwardDao">

    <resultMap id="dataMap" type="com.dasi.infrastructure.persistent.po.ActivityAward">
        <id     property="id"          column="id"/>
        <result property="userId"      column="user_id"/>
        <result property="activityId"  column="activity_id"/>
        <result property="orderId"     column="order_id"/>
        <result property="awardId"     column="award_id"/>
        <result property="awardName"   column="award_name"/>
        <result property="awardTime"   column="award_time"/>
        <result property="awardState"  column="award_state"/>
        <result property="createTime"  column="create_time"/>
        <result property="updateTime"  column="update_time"/>
    </resultMap>

    <insert id="saveActivityAward" parameterType="com.dasi.infrastructure.persistent.po.ActivityAward">
        INSERT INTO activity_award (user_id, activity_id, order_id, award_id, award_name, award_time, award_state)
        VALUES (#{userId}, #{activityId}, #{orderId}, #{awardId}, #{awardName}, #{awardTime}, #{awardState})
    </insert>

    <update id="updateActivityAwardState" parameterType="com.dasi.infrastructure.persistent.po.ActivityAward">
        UPDATE activity_award
        SET award_state = #{awardState}
        WHERE order_id = #{orderId} AND user_id = #{userId} AND award_id = #{awardId}
    </update>

</mapper>