<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dasi.infrastructure.persistent.dao.IBehaviorOrderDao">

    <resultMap id="dataMap" type="com.dasi.infrastructure.persistent.po.BehaviorOrder">
        <id     property="id"              column="id"/>
        <result property="orderId"         column="order_id"/>
        <result property="bizId"           column="biz_id"/>
        <result property="userId"          column="user_id"/>
        <result property="behaviorId"      column="behavior_id"/>
        <result property="behaviorType"    column="behavior_type"/>
        <result property="behaviorReward"  column="behavior_reward"/>
        <result property="behaviorConfig"  column="behavior_config"/>
        <result property="createTime"      column="create_time"/>
        <result property="updateTime"      column="update_time"/>
    </resultMap>

    <insert id="saveBehaviorOrder" parameterType="com.dasi.infrastructure.persistent.po.BehaviorOrder">
        INSERT INTO behavior_order (order_id, biz_id, user_id, behavior_id, behavior_type, behavior_reward, behavior_config)
        VALUES (#{orderId}, #{bizId}, #{userId}, #{behaviorId}, #{behaviorType}, #{behaviorReward}, #{behaviorConfig})
    </insert>


</mapper>